<div id="<%= dom_id board %>">
  <p>
    <strong>Project:</strong>
    <%= board.project_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= board.name %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= board.position %>
  </p>

</div>
