<div id="<%= dom_id organization %>" class="space-y-4">
  <div>
    <span class="font-semibold text-gray-700">Name:</span>
    <span class="text-gray-900"><%= organization.name %></span>
  </div>
  <div>
    <span class="font-semibold text-gray-700">Slug:</span>
    <span class="text-gray-900"><%= organization.slug %></span>
  </div>
</div>