<div id="<%= dom_id user_organization %>">
  <p>
    <strong>User:</strong>
    <%= user_organization.user_id %>
  </p>

  <p>
    <strong>Organization:</strong>
    <%= user_organization.organization_id %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= user_organization.role %>
  </p>

</div>
