<p style="color: green"><%= notice %></p>

<% content_for :title, "User organizations" %>

<h1>User organizations</h1>

<div id="user_organizations">
  <% @user_organizations.each do |user_organization| %>
    <%= render user_organization %>
    <p>
      <%= link_to "Show this user organization", user_organization %>
    </p>
  <% end %>
</div>

<%= link_to "New user organization", new_user_organization_path %>
