<% content_for :title, "New user organization" %>

<h1>New user organization</h1>

<%= render "form", user_organization: @user_organization %>

<br>

<div>
  <%= link_to "Back to user organizations", user_organizations_path %>
</div>
